
@{
    ViewBag.Title = "Index";
}

<h2>Date Ranger Picker</h2>

<input type="text" name="dateRange" value="" />

Start at @ViewBag.start and End at: @ViewBag.end
@section scripts
{
    @Scripts.Render("~/bundles/custom")
}
